{% extends "base.html" %}
{% load static %}
{% load custom_tag %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "../static/css/style.css" %}">
</head>
<body>

    {% block content %}
    
    <div class="container-fluid">
         <div>
                    <br>
                    <br>
                        <div class="card p-3">
                            <div class="row">
                                <!--  Youtube Player -->
                                <div class="col">
                                    <div class="mx-auto">
                                        <video controls id ="player" width='100%'>
                                        <source src="{{video.video_id.url}}" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <!--  Youtube Player  end-->
                                <!--  videos List -->
                                <div class="col-3">
                                
                                    <ul id = "video_list" class="list-group" style="overflow-y:scroll;">
                                        {% for v in course.video_set.all %}
                                        <li class="list-group-item  {% if v == video %}  active {% endif %}"><a href="?lecture={{v.serial_number}}">{{v}}</a></li>
                                        {% endfor %}
                                     </ul>
                                   
                                </div>
                        </div>
                        
                        </div>


                        <!-- Course Detail-->

                                <!--  Leacture List -->
                                <div class="mt-3">
                                    <div>
                                        <div class="card">
                                            <div class="card-body">
                                              <h5 class="card-title">{{course.name}}</h5>
                                              <p class="card-text">{{course.description}}</p>
                                              
                                            </div>
                                          </div>
                                    </div>
                                    
                                </div>

                                  <!--  Prerequisite Card   -->
                                <div class="mt-3">
                                    <div>
                                        <div class="card">
                                            <div class="card-body">
                                              <h5 class="card-title">Prerequisite</h5>
                                              <p class="card-text">
                                                    {% for pre in course.prerequisite_set.all %}
                                                    <li class=" ">{{pre.description}}</li>
                                                    {% endfor %}
                                              </p>
                                              
                                            </div>
                                          </div>
                                    </div>
                                    <!-- Prerequisite end -->

                                    <!-- Learning Card -->
                                <div class="mt-3">
                                    <div>
                                        <div class="card">
                                            <div class="card-body">
                                              <h5 class="card-title">Learning</h5>
                                              <p class="card-text">
                                                    {% for pre in course.learning_set.all %}
                                                    <li class=" ">{{pre.description}}</li>
                                                    {% endfor %}
                                              </p>
                                              
                                            </div>
                                          </div>
                                    </div>
                                    <!-- Learning end -->
                                </div>
                </div>
    </div>

    <script>
        var player;
        var video_list
          {% comment %} window.onload = ()=>{
            player = document.getElementById('player')
            maintaneRatio() 
        } {% endcomment %}
        
        document.onreadystatechange = function(){
            if(document.readyState == 'interactive'){
                player = document.getElementById('player')
                video_list = document.getElementById('video_list')
                maintaneRatio()
            }
        }
        function maintaneRatio(){
            var w = player.clientWidth
            var h = (w*9)/16
            console.log(w,h)
            player.height = h
            video_list.style.maxHeight = h +"px"
        }
    
        window.onresize = maintaneRatio 
    </script>
    {% endblock %}


</body>
</html>